.container
  %h2
    %b WAF Rules
  %table.table
    %tr
      %th Name
      %th ID
    - @waf.list_rules(limit: 100).rules.each do |rule|
      %tr
        %td= link_to rule.name, rule_path(rule.rule_id)
        %td= rule.rule_id

  %hr
  %div{:align => "right"}
    = link_to 'Add rule', new_rule_path, class: 'btn btn-success'
